/*CONTEUDO GERAL VAI AQUI*/

body{
    font-family: 'KoHo', sans-serif;
    letter-spacing: 0.2px;
    background-color: rgb(243, 239, 239);
    color:rgb(94, 94, 94);
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
