/*COMEÇANDO A HEADER NAVIGATION*/
.side-header{
    position: fixed;
    width: 60px;
    height: 100vh;
    top:0;
    right:0;
    background-color: rgb(243, 239, 239);
    border-left: 1.5px solid rgb(211, 199, 199);
    /*z-index: 10000000000000000000001;*/
    img{
        width: 40px;
        height: 40px;
        margin: 5px;
        top:10px;
        padding: 5px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.header-nav-links{
    margin-top: 55vh;
    /*    transform: translateY(50%);*/
    i{
        font-size: 1.2em;
        color: white;
        padding: 10px;
        margin: 8px;
        border-radius: 100%;
        border: 1px solid rgb(211, 199, 199);
        background-color: #edc9cb;

        &:hover{
            transition: 0.5s ease;
            background-color: white;
            color: #ce7579;
        }
    }
}


